{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Airline Tickets{% endblock %}

{% block page_content %}
    <h1>Search for flights {% if current_user.is_authenticated %}{{ current_user.first_name }}{% endif %}</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% if results %}
        <div class="row">
        {% for result in results %}
            <div class="row">
            <table class="table">
                <tr>
                    <th colspan="4">Outbound flight</th>
                </tr>
                <tr>
                    <td>Departure time: {{ result.outbound_times.departure | format_datetime }}</td>
                    <td>Arrival time: {{ result.outbound_times.arrival | format_datetime }}</td>
                    <td>Duration: {{ result.outbound_duration | format_duration }}</td>
                    <td>Price: {{ result.price | format_usd }}</td>
                </tr>
                {% for segment in result.outbound_leg.segments %}
                    <table class="table">
                    <tr>
                        <th>Origin Airport</th>
                        <th>Destination Airport</th>
                        <th>Flight</th>
                    </tr>
                    <tr>
                        <td>{{ segment.origin.code }} {{ segment.origin.name }}</td>
                        <td>{{ segment.destination.code }} {{ segment.destination.name }}</td>
                        <td>Number: {{ segment.flight.id }}</td>
                    </tr>
                    <tr>
                        <td>Departure time: {{ segment.departure_time | format_datetime }}</td>
                        <td>Arrival time: {{ segment.arrival_time | format_datetime }}</td>
                        <td>Duration: {{ segment.duration | format_duration }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>{{ segment.flight.carrier.image_url | logo | safe }}</td>
                    </tr>
                    </table>
                {% endfor %}
            </table>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="static/js/homepage.js" type="text/javascript"></script>
{% endblock %}